<div class="modal ">

  <section class="booking_container">
    <h2>Welcome! <small>Select your rooms</small></h2>
    <a href="#" class="close">×</a>
    <form id="booking-form" action="booking.html" name="booking-form" class="booking-form">
      <label for="arrive">Arrive</label>
      <input type="text" id="arrive" name="arrive" readonly="readonly">
      <label for="departure">Departure</label>
      <input type="text" id="departure" name="departure" readonly="readonly">
      <label for="rooms_number">Number of rooms</label>
      <select name="rooms_number" id="rooms_number">
        <option value="" disabled selected>Select your option</option>
        <option value="1">1 Room</option>
        <option value="2">2 Rooms</option>
        <option value="3">3 Rooms</option>
        <option value="4">4 Rooms</option>
      </select>
      <label for="adult_number">Adults</label>
      <select name="adult_number" id="adult_number">
        <option value="" disabled selected>Select your option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </form>
    <p>The search returned no results for one of the following reasons:
    A lack of room availability for the combination of parameters used.
    There are any restrictions for the selected dates that prevents return results. Should have been reported through a notice in this case.</p>
    <p>Try to restart the parameters and / or select a different combination of parameters (minimum date of entry and departure) to perform a new search.</p>
    <a href="#" id="booking_next" class="btn btn-next">Next</a>
    <a href="#" class="btn btn-link cancel-booking">Cancel</a>
  </section>
</div>