<section class = "row">

  <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="#">Booking Form</a></li>
      <li role="menuitem"><a href="#">Booking Description</a></li>
      <li role="menuitem" class="unavailable" role="button" aria-disabled="true"><a href="#">Personal Data</a></li>
      <li role="menuitem" class="unavailable" role="button" aria-disabled="true"><a href="#">Confirmation & Payment</a></li>
  </nav>

  <h2><small>Please, fill the form with your personal info</small></h2>
  <div class="form">
    <div class="columns medium-6">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/4-big-fitness.jpg" alt="Logo Hotel" class="left">
    </div>
    <div class="columns medium-6">
      <table class="booking_table">
        <tr>
          <td width="120">Arrival Date:</td>
          <td id="arrive">14/11/2014</td>
        </tr>
        <tr>
          <td>Departure Date:</td>
          <td>17/11/2014</td>
        </tr>
        <tr>
          <td>Room Name:</td>
          <td>Standard Room</td>
        </tr>
        <tr>
          <td>Pax:</td>
          <td>4 pax</td>
        </tr>
        <tr>
          <td>Rate:</td>
          <td>120 €</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>Try to restart the parameters and / or select a different combination of parameters (minimum date of entry and departure) to perform a new search to perform a new searchparameters. </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="medium-12 columns">
    <a href="#" id="booking_next" class="btn btn-next rigth">Next</a>
    <a href="#" class="btn btn-link cancel-booking rigth">Cancel</a>    
  </div>

</section>