<section id="contact">
  <article class="contact row">
    <div id="map-canvas" class="medium-4 columns">
    </div>

    <div class="medium-4 columns">
      <h6>El Passatge</h6>
      <address>
        Rambla Catalunya 137,<br>
        08001 Barcelona,<br>
        Catalonia
      </address>
      <p>Phone: 93 218 00 00</p>
      <p>Fax: 93 218 00 01</p>
      <p>Email: info@elpassatge.cat</p>
      <p></p>
    </div>

    <div class="medium-4 columns">
      <form action="" class="contact">
        <input type="text" class="text" placeholder="Name" required="required">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <input type="email" class="text" placeholder="Email" required="required">
        <input type="tel" class="text" placeholder="Phone" required="required">
        <input type="submit" value="Send" class="btn btn-newsletter right send">
      </form>
    </div>

  </article>
</section>