<footer class="footer row">
  <ul class="footer_menu inline-list">
    <li><a href="#top">HOTEL</a></li>
    <li><a href="#rooms">ROOMS</a></li>
    <li><a href="#services">SERVICES</a></li>
    <li><a href="#rates">RATES</a></li>
    <li><a href="#contact">CONTACT</a></li>
  </ul>
  <ul class="footer_menu social inline-list">
    <li class="fb"><a href="https://facebook.com"></a></li>
    <li class="tw"><a href="https://twitter.com"></a></li>
    <li class="in"><a href="https://linkedin.com"></a></li>
  </ul>
  <a class="btn btn-newsletter">Join our newsletter</a>
  <p class="copyright">© EL PASSATGE.  ALL RIGHTS RESERVED.</p>
</footer>