<%= render "shared/booking_form" %>
<div class="contain-to-grid sticky">
  <nav class="top-bar fixed sticky" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/logo.png" alt="Logo Hotel" class="logo"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><a href="#top">HOTEL</a></li>
        <li><a href="#rooms">ROOMS</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#rates">RATES</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li ><a href="#" data-reveal-id= "modal_form" class="bookingbutton" >BOOK NOW</a></li>
      </ul>
    </section>
  </nav>
</div>
