<div class="orbit-container">
  <ul data-orbit>
    <li>
      <%= image_tag ("PRUEBA1.jpg")  %>
    </li>
    <li class="active">
      <%= image_tag (src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/entrance.jpg")  %>
    </li>
    <li>
      <%= image_tag (src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/entrance2.jpg")  %>
    </li>
  </ul>

  <!-- Navigation Arrows -->
  <a href="#" class="orbit-prev">Prev <span></span></a>
  <a href="#" class="orbit-next">Next <span></span></a>



  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress"></div>
  </div>
</div>

<div class="row text-center">
  <div class="medium-10 medium-centered columns">
    <h4>
    BIENVENIDO AL PASSATGE - UN MUNDO POR CONOCER -
    </h4>
    <br/>
    <p>Un pequeño hotel urbano. Doce habitaciones que se asoman al centro histórico de Barcelona a través de un palacete del siglo XVI completamente restaurado. Una obra arquitectónica que conjuga pasado y presente.</p>
    <p>Del pasado permanece el arco de medio punto que le sirve de acceso, sus piedras de sillería, sus vigas de madera, sus rejas y barandillas de forja. El presente llega de la mano de su minimalista diseño, la máxima calidad de los materiales, la suavidad de su mobiliario y su paleta de colores invitando al descanso y la relajación y, sobre todo, una nueva forma de entender la hostelería. A disposición del cliente, volcada en su comodidad, en la que se perciba la naturalidad de lo sencillo y el gusto por el detalle.</p>
  </div>
  <br/>
  <br/>
  <br/>
</div>