<section id="rates">
  <article class="rates row">
    <table id="table_rates" class="table">
      <thead>
        <tr>
          <th></th>
          <th>TEMPORADA BAJA</th>
          <th>TEMPORADA MEDIA</th>
          <th>TEMPORADA ALTA</th>
        </tr>
      </thead>
    </table>
  </article>
</section>
<% @rooms.each do | room | %>
    <%= room.name  %>
  <% end %>