<section id="rooms">
  <article class="rooms row">
    <div class="medium-6 columns margined-bottom relative-container">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room1.jpg" alt="images" class="img-room">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="dr">
      <div class="medium-6 columns margined-bottom relative-container">
        <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room2.jpg" alt="images" class="img-room right">
        <p class="rooms_coment">Deluxe room</p>
      </div>

      <div class="medium-6 columns margined-bottom relative-container">
        <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room3.jpg" alt="images" class="img-room right">
        <p class="rooms_coment">Deluxe room</p>
      </div>
    </div>
    <div class="medium-3 columns margined-bottom relative-container">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room4.jpg" alt="images" class="img-room">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="medium-6 columns margined-bottom relative-container">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room5.jpg" alt="images" class="img-room">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="medium-9 columns margined-bottom relative-container">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room6.jpg" alt="images" class="img-room">
      <p class="rooms_coment">Special room</p>
    </div>
    <div class="dr">
      <div class="medium-3 columns margined-bottom margined-top relative-container">
        <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room7.jpg" alt="images" class="img-room right">
        <p class="rooms_coment">Special room</p>
      </div>
    </div>
  </article>
  <div class="row text-center">
    <div class="medium-10 medium-centered columns">
      <h4>
      HABITACIONES DIPONIBLES
      </h4>
      <br/>
      <p>La opción más sencilla. Un espacio pensado para su comodidad y hacer de su estancia una recopilación de momentos agradables. El máximo nivel de accesibilidad, con todo a su alcance. La mejor manera de relajarse en un ambiente ligero. La naturalidad hecha placer. 1 habitación doble de uso individual.</br> Cama 135 x 200
      5 habitaciones dobles. Camas Queen size 160 x 200</p>
      <p>Todas las habitaciones Mayor Standard disponen de conexión gratuita a Internet vía WI-FI, televisión LCD interactiva, amplio baño privado recubierto con cristal de Murano, mini bar, caja de seguridad, climatización con control individualizado, secador de pelo y cuidada selección de amenities.</p>
    </div>
  </div>
</section>