<section id="rooms">
  <article class="rooms row">
    <div class="medium-6 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room1.jpg" alt="images">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="medium-6 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room2.jpg" alt="images">
      <p class="rooms_coment">Deluxe room</p>
    </div>
    <div class="medium-6 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room3.jpg" alt="images">
      <p class="rooms_coment">Deluxe room</p>
    </div>
    <div class="medium-3 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room4.jpg" alt="images">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="medium-6 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room5.jpg" alt="images">
      <p class="rooms_coment">Standard room</p>
    </div>
    <div class="medium-9 columns margined-bottom">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room6.jpg" alt="images">
      <p class="rooms_coment">Special room</p>
    </div>
    <div class="medium-3 columns margined-bottom margined-top">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/room7.jpg" alt="images">
      <p class="rooms_coment">Special room</p>
    </div>
  </article>
</section>