<section id="services">
  <article class="services row">
    <p>La opción más sencilla. Un espacio pensado para su comodidad y hacer de su estancia una recopilación de momentos agradables. El máximo nivel de accesibilidad, con todo a su alcance. La mejor manera de relajarse en un ambiente ligero. La naturalidad hecha placer.</p>
    <p>1 habitación doble de uso individual. Cama 135 x 200
    5 habitaciones dobles. Camas Queen size 160 x 200</p>
    <p>Todas las habitaciones Mayor Standard disponen de conexión gratuita a Internet vía WI-FI, televisión LCD interactiva, amplio baño privado recubierto con cristal de Murano, mini bar, caja de seguridad, climatización con control individualizado, secador de pelo y cuidada selección de amenities.</p>
    <section class="carousel-container">
      <article id="carousel">
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/entrada.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/recepcion.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
          <figure><img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/desayuno.jpg"></figure>
      </article>
    </section>
    <p id="navigation">
      <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/prev.png" data-increment="-1">
      <img class="next" src="img/next.png" data-increment="1">
    </p>
  </article>
</section>