<section id="services">
  <article class="row">
    <p>La opción más sencilla. Un espacio pensado para su comodidad y hacer de su estancia una recopilación de momentos agradables. El máximo nivel de accesibilidad, con todo a su alcance. La mejor manera de relajarse en un ambiente ligero. La naturalidad hecha placer.</p>
    <p>1 habitación doble de uso individual. Cama 135 x 200
    5 habitaciones dobles. Camas Queen size 160 x 200</p>
    <p>Todas las habitaciones Mayor Standard disponen de conexión gratuita a Internet vía WI-FI, televisión LCD interactiva, amplio baño privado recubierto con cristal de Murano, mini bar, caja de seguridad, climatización con control individualizado, secador de pelo y cuidada selección de amenities.</p>
    <section class="carousel-container">
      <article id="carousel">
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/1-desayuno.jpg">
            <figcaption>
              Breakfast
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/2-entrada.jpg">
            <figcaption>
              Our entrance
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/3-terraza.jpg">
            <figcaption>
              Our terrace
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/4-big-fitness.jpg">
            <figcaption>
              Our fitness club
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/5-bar.jpg">
            <figcaption>
              Enjoy our bar
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/6-vino.jpg">
            <figcaption>
              Desgust wine and more
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/7-recepcion.jpg">
            <figcaption>
              Ask in our reception
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/8-business-center.jpg">
            <figcaption>
              The business center
            </figcaption>
          </figure>
          <figure>
            <img src="https://dl.dropboxusercontent.com/u/79814994/cdn.images/9-hall.jpg">
            <figcaption>
              The hall
            </figcaption>
          </figure>
      </article>
      <div class="frame-carousel"></div>
    </section>
    <div id="navigation">
      <span class="left" data-increment="-1">«</span>
      <span class="right" data-increment="1">»</span>
    </div>
  </article>
</section>